@page
@model EventForge.Server.Pages.Dashboard.HealthModel
@{
    ViewData["Title"] = "Health Checks";
    ViewData["PageSection"] = "Monitoring";
}

<div class="container-fluid">
    <h1 class="mb-4">Health Checks</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">System Health Status</h5>
                    <p class="card-text">Monitor the health of your EventForge server and its dependencies.</p>
                </div>
            </div>
        </div>
    </div>
</div>
