@page
@model EventForge.Server.Pages.Dashboard.PerformanceModel
@{
    ViewData["Title"] = "Performance";
    ViewData["PageSection"] = "Monitoring";
}

<div class="container-fluid">
    <h1 class="mb-4">Performance Monitoring</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Server Performance Metrics</h5>
                    <p class="card-text">Track the performance and resource utilization of your EventForge server.</p>
                </div>
            </div>
        </div>
    </div>
</div>
